//colors

$yellow: #ffc722;

$dark-yellow:#fdbd00;

$grey:rgba(39, 37, 33, 0.5);

$dark-grey:#363533;

$transparent-grey:rgba(0,0,0,0.1);

$transparent-grey2:rgba(0,0,0,0.4);

$transparent-grey3:rgba(0,0,0,0.7);